.editWindow{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    display: none;
}
.editWindowTitle{

}
.editContainer{
    display: flex;
    gap: 20px;
}